In [23]:
import pandas as pd
growth = pd.Series([143,150,157,160], index = ["2018","2019","2020","2021"])
growth

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [25]:
growth = pd.Series([143,150,157,160])
growth

0    143
1    150
2    157
3    160
dtype: int64

In [ ]:
index = ["2018","2019","2020","2021"]
data = {
    "영희" : [143,150,157,160],
    "철수" : [165,172,175,180]
}
growth = pd.DataFrame(data,columns=["영희","철수"],index = index)
growth

In [36]:
index = ["2018","2019","2020","2021"]
Y = pd.Series([143,150,157,160],index=index)
C = pd.Series([165,172,175,180],index=index)
growth = pd.DataFrame({
    "영희": Y,
    "철수": C
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [39]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [44]:
growth.astype('float')

         영희     철수
2018  143.0  165.0
2019  150.0  172.0
2020  157.0  175.0
2021  160.0  180.0

In [45]:
growth.astype({'영희':'float'})

         영희   철수
2018  143.0  165
2019  150.0  172
2020  157.0  175
2021  160.0  180

In [46]:
print(growth.dtypes)

영희    int64
철수    int64
dtype: object

In [60]:
pd.read_csv("./output/1.csv")

    a   b  c
0  30  21  9

In [67]:
pd.read_csv("./output/3.csv",index_col = 0)

      a   b  c
0    30  21  9
100   2   3  1

In [73]:
import pandas as pd
fruits = pd.DataFrame({"Apples":[30],
                       "Bananas":[21]})
print(fruits)

   Apples  Bananas
0      30       21

In [74]:
fruits = pd.DataFrame([[30,21]],columns=["Apples","Bananas"])
print(fruits)

   Apples  Bananas
0      30       21

In [82]:
fruit_sales = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=["2017 Sales","2018 Sales"])
print(fruit_sales)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [91]:
inex = ["2015 Sales","2016 Sales"]
data = {'Apples':[33,44],'Bananas':[22,33]}
frui_sales = pd.DataFrame(data, index = inex)
print(frui_sales)

            Apples  Bananas
2015 Sales      33       22
2016 Sales      44       33

In [99]:
index = ["Flour","Milk","Eggs","Spam"]
data = ["4 cups","1 cup","2 large","1 can"]
ingredients = pd.Series(data,index=index,name="Dinner")
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [126]:
index = ["2018","2019","2020","2021"]
data = {
    "영희" : [143,150,157,160],
    "철수" : [165,172,175,180]
}
growth = pd.DataFrame(data,columns=["영희","철수"],index = index)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [117]:
print(growth.영희[0])

143

C:\Users\minch\AppData\Local\Temp\ipykernel_10676\3905011466.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(growth.영희[0])

In [119]:
growth.["영희"][1]

SyntaxError: invalid syntax (2241327807.py, line 1)

In [127]:
growth.iloc[0]

영희    143
철수    165
Name: 2018, dtype: int64

In [135]:
growth.iloc[:2,0]

2018    143
2019    150
Name: 영희, dtype: int64

In [137]:
growth.loc['2020','영희']

157

In [163]:
growth.loc(:2),['영희',"철수"]

SyntaxError: invalid syntax (1777994988.py, line 1)

In [156]:
growth.loc[["2018","2020"],["영희","철수"]]

       영희   철수
2018  143  165
2020  157  175

In [164]:
growth.loc['2018':'2020']

       영희   철수
2018  143  165
2019  150  172
2020  157  175

In [168]:
growth.iloc[0:2]

       영희   철수
2018  143  165
2019  150  172

In [170]:
growth.set_index("영희") # .set_index() 특정 컬럼을 인덱스로 쓰겠다.

      철수
영희
143  165
150  172
157  175
160  180

In [172]:
growth.loc[growth.영희>150] # 영희가 150 이상일 떄의 값만 출력

       영희   철수
2020  157  175
2021  160  180

In [173]:
growth.영희>150 # True , False로 출력 150이상인 것으로

2018    False
2019    False
2020     True
2021     True
Name: 영희, dtype: bool

In [175]:
growth.loc[growth.영희>150].영희 # 영희가 150이상인 값 중 영희만을 뽑음.

2020    157
2021    160
Name: 영희, dtype: int64

In [180]:
index = ["영희","철수","영철"]
data = {
    "2018" : [143,150,157],
    "2019" : [165,172,175],
    "2020" : [157,175,180]
}
growth = pd.DataFrame(data,index = index)
growth

    2018  2019  2020
영희   143   165   157
철수   150   172   175
영철   157   175   180

In [184]:
growth["2019"]>150

영희    True
철수    True
영철    True
Name: 2019, dtype: bool